In [1]:
import pandas as pd
import numpy as np
import datetime

In [56]:
BADVES=pd.read_csv('../Data/Clean/BADV_ES_clean.csv')
BADVES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beer_style      100 non-null    object
 1   votes           100 non-null    int64
 2   review_overall  100 non-null    float64
 3   year            100 non-null    int64
 4   local_review    100 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ KB

In [32]:
BADVES['beer_style'].unique()

array(['Herb and Spice Beer', 'American Pale Ale',
       'Russian Imperial Stout', 'Baltic Porter',
       'American Amber / Red Ale', 'Munich Dunkel', 'New England IPA',
       'American IPA', 'Imperial IPA', 'American Imperial Stout',
       'Foreign / Export Stout', 'English Barleywine', 'Saison',
       'American Blonde Ale', 'Imperial Porter', 'English IPA',
       'Irish Red Ale', 'Wild Ale', 'American Brown Ale',
       'English Pale Ale', 'English Brown Ale', 'American Porter',
       'English Stout', 'European Dark Lager',
       'European / Dortmunder Export Lager', 'Tripel', 'Berliner Weisse',
       'Black IPA', 'Belgian IPA', 'Oatmeal Stout', 'American Lager'],
      dtype=object)

In [57]:
styles_map={'American Blonde Ale': 1, 'American Amber / Red Ale': 2, 'Black IPA': 4, 'American Brown Ale': 5, 'American Porter': 7, 'Imperial Porter': 7, 'American Imperial Stout': 9, 'Russian Imperial Stout': 9, 'American IPA': 10, 'American Lager': 11, 'American Pale Ale': 12, 'Baltic Porter': 16, 'Wild Ale': 21, 'Belgian IPA': 22, 'Saison': 24, 'Tripel': 25, 'Berliner Weisse': 27, 'European Dark Lager': 29, 'English Barleywine': 30, 'English Brown Ale': 36, 'English IPA': 38, 'English Stout': 40, 'Oatmeal Stout': 40, 'English Pale Ale': 42, 'Munich Dunkel': 50, 'European / Dortmunder Export Lager': 56, 'Herb and Spice Beer': 59, 'Imperial IPA': 61, 'Foreign / Export Stout': 62, 'Irish Red Ale': 63, 'New England IPA': 64}
BADVES['beer_style']=BADVES['beer_style'].map(styles_map)

In [58]:
BADVES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beer_style      100 non-null    int64
 1   votes           100 non-null    int64
 2   review_overall  100 non-null    float64
 3   year            100 non-null    int64
 4   local_review    100 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 4.0+ KB

In [59]:
BADVES.to_csv('../Data/Clean/BADV_ES_clean.csv',index=False)

Mapping the badv_global file

In [51]:
BADVG=pd.read_csv('../Data/Clean/BADV_global_clean.csv')
BADVG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beer_style      250 non-null    int64
 1   votes           250 non-null    object
 2   review_overall  250 non-null    float64
 3   year            250 non-null    int64
 4   local_review    250 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 9.9+ KB

In [22]:
BADVG['beer_style'].unique()

array(['Fruit Lambic', 'American Imperial Stout', 'American Pale Ale',
       'Oatmeal Stout', 'Imperial IPA', 'Quadrupel (Quad)',
       'Russian Imperial Stout', 'Wild Ale', 'English Barleywine',
       'New England IPA', 'Dubbel', 'American Porter', 'American IPA',
       'Gueuze', 'Flanders Red Ale', 'Imperial Porter', 'Saison',
       'American Strong Ale', 'Sweet / Milk Stout', 'Berliner Weisse',
       'Lambic', 'American Barleywine', 'Milkshake IPA', 'Old Ale',
       'Rye Beer', 'Fruited Kettle Sour'], dtype=object)

In [23]:
styles_map_2={'American Barleywine': 3, 'American Imperial Stout': 9, 'American IPA': 10, 'American Pale Ale': 12, 'American Porter': 7, 'American Strong Ale': 2, 'Berliner Weisse': 27, 'Dubbel': 18, 'English Barleywine': 30, 'Flanders Red Ale': 19, 'Fruit Lambic': 21, 'Fruited Kettle Sour': 46, 'Gueuze': 21, 'Imperial IPA': 61, 'Imperial Porter': 7, 'Lambic': 21, 'Milkshake IPA': 64, 'New England IPA': 64, 'Oatmeal Stout': 40, 'Old Ale': 41, 'Quadrupel (Quad)': 23, 'Russian Imperial Stout': 9, 'Rye Beer': 7, 'Saison': 24, 'Sweet / Milk Stout': 43, 'Wild Ale': 21}
BADVG['beer_style']=BADVG['beer_style'].map(styles_map_2)
BADVG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beer_style      250 non-null    int64
 1   votes           250 non-null    object
 2   review_overall  250 non-null    float64
 3   year            250 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 7.9+ KB

In [24]:
BADVG.to_csv('../Data/Clean/BADV_global_clean.csv',index=False)

Last one

In [52]:
unt=pd.read_csv('../Data/Clean/Untappd_ES_clean.csv')
unt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beer_style      50 non-null     int64
 1   votes           50 non-null     object
 2   review_overall  50 non-null     float64
 3   year            50 non-null     int64
 4   local_review    50 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

In [29]:
unt['beer_style'].unique()

array(['Stout - Imperial / Double', 'IPA - Triple New England / Hazy',
       'Stout - Russian Imperial',
       'IPA - Imperial / Double New England / Hazy',
       'Stout - Imperial / Double Pastry', 'Barleywine - Other',
       'IPA - Quadruple', 'IPA - Triple',
       'Porter - Imperial / Double Baltic', 'IPA - Imperial / Double'],
      dtype=object)

In [30]:
styles_map_3={'American Barley wine': 3, 'American IPA': 10, 'American Porter': 7, 'American Strong Ale': 1, 'Barleywine - Other': 3, 'Berliner Weisse': 27, 'Dubbel': 18, 'Flanders Red Ale': 19, 'Fruited Kettle Sour': 46, 'Gueuze': 21, 'Imperial Porter': 7, 'IPA - Imperial / Double New England / Hazy': 64, 'IPA - Imperial / Double': 61, 'IPA - Quadruple': 23, 'IPA - Triple New England / Hazy': 64, 'IPA - Triple': 61, 'Lambic': 21, 'Milkshake IPA': 64, 'Old Ale': 41, 'Porter - Imperial / Double Baltic': 7, 'Rye Beer': 7, 'Saison': 24, 'Stout - Imperial / Double Pastry': 9, 'Stout - Imperial / Double': 9, 'Stout - Russian Imperial': 9, 'Sweet / Milk Stout': 43}

unt['beer_style']=unt['beer_style'].map(styles_map_3)
unt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beer_style      50 non-null     int64
 1   votes           50 non-null     object
 2   review_overall  50 non-null     float64
 3   year            50 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.7+ KB

In [31]:
unt.to_csv('../Data/Clean/Untappd_ES_clean.csv',index=False)

Untappd global data

In [53]:
untG=pd.read_csv('../Data/Clean/Untappd_global_clean.csv')
untG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beer_style      48 non-null     int64
 1   votes           48 non-null     int64
 2   review_overall  48 non-null     float64
 3   year            48 non-null     int64
 4   local_review    48 non-null     object
dtypes: float64(1), int64(3), object(1)
memory usage: 2.0+ KB

In [38]:
styles_map_4={'Barleywine - English':3, 'Stout - Imperial / Double':9, 'Stout - Imperial / Double Pastry':9, 'Stout - Imperial / Double Milk':43, 'Stout - Imperial / Double Coffee':9, 'Stout - Russian Imperial':9, 'IPA - Imperial / Double':61, 'Lambic - Traditional':21, 'Strong Ale - American':20}
untG['beer_style']=untG['beer_style'].map(styles_map_4)
untG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beer_style      48 non-null     int64
 1   votes           48 non-null     object
 2   review_overall  48 non-null     float64
 3   year            48 non-null     int64
 4   local_review    48 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 2.0+ KB

In [42]:
untG['votes']=untG['votes'].str.replace(",","")

In [ ]:
untG['votes']=untG['votes'].astype(int)
untG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beer_style      48 non-null     int64
 1   votes           48 non-null     int64
 2   review_overall  48 non-null     float64
 3   year            48 non-null     int64
 4   local_review    48 non-null     object
dtypes: float64(1), int64(3), object(1)
memory usage: 2.0+ KB

In [44]:
untG.to_csv('../Data/Clean/Untappd_global_clean.csv',index=False)

Now concat all of them

In [60]:
pd.concat([untG, unt, BADVG, BADVES]).to_csv('../Data/Clean/New_reviews.csv', index=False)

In [ ]:
df=pd.read_csv('../Data/Clean/New_reviews.csv')

In [65]:
df=df.rename(columns={'beer_style':'style_id'})

In [67]:
df.to_csv('../Data/Clean/New_reviews.csv', index=False)

## TESTING BORRAR DE AQUI PA ABAJO!!!!!!!!!!!!!!!

In [34]:
BADVES=pd.read_csv('../Data/Clean/BADV_ES_clean.csv')
BADVG=pd.read_csv('../Data/Clean/BADV_global_clean.csv')
unt=pd.read_csv('../Data/Clean/Untappd_ES_clean.csv')
untG=pd.read_csv('../Data/Clean/Untappd_global_clean.csv')
char=pd.read_csv('../Data/Clean/standard_beer_types_features_clean.csv')
beer_reviews=pd.read_csv('../Data/Clean/beer_reviews_all_columns.csv')
new=pd.read_csv('../Data/Clean/New_reviews.csv')

In [53]:
new

     style_id votes  review_overall  year local_review
0           3  2500            4.78  2025           No
1           9  2055            4.77  2025           No
2           9  3716            4.76  2025           No
3           9  3567            4.75  2025           No
4           9  2057            4.75  2025           No
..        ...   ...             ...   ...          ...
443        64     3            4.40  2025          Yes
444        10     3            4.36  2025          Yes
445        64     3            4.36  2025          Yes
446        61     3            4.36  2025          Yes
447        64     3            4.35  2025          Yes

[448 rows x 5 columns]

In [25]:
char[char['style_id']==3]

             beer_style        color bitterness alcohol  style_id
2  American Barley Wine  Light brown       High  Strong         3

In [ ]:
new[new['local_review'] == 'Yes'].groupby('style_id')['review_overall'].mean()

KeyError: 'local_review'

In [72]:
char[char['style_id'].isin([62,64,11,3,9])]

                 beer_style        color bitterness  alcohol  style_id
2      American Barley Wine  Light brown       High   Strong         3
8   American Imperial Stout         Dark       High   Strong         9
10           American Lager         Gold        Low    Light        11
61    Irish Style Dry Stout         Dark   Moderate  Regular        62
63          New England IPA         Gold   Moderate  Regular        64

In [74]:
char.columns

Index(['beer_style', 'color', 'bitterness', 'alcohol', 'style_id'], dtype='object')

In [76]:
beer_reviews.columns

Index(['review_overall', 'review_aroma', 'review_appearance', 'style_id',
       'review_palate', 'review_taste', 'year'],
      dtype='object')